.rayure {
    @include rayure-grise(-45deg, #ddd, grey 20px, #eee 20px);
    // animation: animRayure 2s forwards infinite alternate;
}

@keyframes animRayure {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animbloc1 {
    animation: animBloc1 1s infinite alternate;
}

@keyframes animBloc1 {
    from {
        background-color: white;
    }

    to {
        background-color: #fdf289;
    }
}

.animbloc2 {
    animation: animbloc2 2s infinite alternate;
    background-color: #46edc8;
}

@keyframes animbloc2 {
    from {
        transform: translateX(-20px);
    }

    to {
        transform: translateX(20px);
    }
}